<form class="form-horizontal">
    <h4>General</h4>
    <fieldset>
        <div class="control-group">
            <label class="control-label">Background color</label>
            <div class="controls">
                 <select data-bind="options: backgroundColors,
                       optionsText: 'name',
                       value: selectedBackground,
                       optionsValue: 'name'"></select>
            </div>
            <div class="control-group" data-bind="visible: selectedBackground() == 'Custom'">
                <label class="control-label">Custom color</label>
                <div class="controls">
                    <input type="color" class="input-mini" data-bind="value: backgroundColor">
                    <input type="text" class="input-mini" data-bind="value: backgroundColor">
                </div>
             </div>
        </div>
        <div class="control-group">
            <label class="control-label">Axises text color</label>
            <div class="controls">
                    <select data-bind="options: axisesColors,
                        optionsText: 'name',
                        value: selectedAxises,
                        optionsValue: 'name'"></select>
            </div>
            <div class="control-group" data-bind="visible: selectedAxises() == 'Custom'">
            <label class="control-label">Custom color</label>
            <div class="controls">
                <input type="color" class="input-mini" data-bind="value: axisesColor">
                <input type="text" class="input-mini" data-bind="value: axisesColor">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <label class="checkbox">
                        <input type="checkbox" data-bind="checked: ownSettings.showBackgroundImage"> Show background image
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <label class="checkbox">
                        <input type="checkbox" data-bind="checked: ownSettings.startWithAutoScale"> Start with autoscale
                </label>
            </div>
        </div>
    </fieldset>
</form>
